opencv-python
lightning-bolts
rich
tqdm
numpy
sklearn
git+https://github.com/qubvel/segmentation_models.pytorch
git+https://github.com/albumentations-team/albumentations
git+https://github.com/Lightning-AI/lightning.git
